@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
/* general reformatting of default styling */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}

/* main phone */
main {
    background-size: 260px;
    position: relative;
    z-index: 100000;
    height: 520px;
    width: 240px;
    border: 10px solid black;
    border-radius: 40px;
    box-shadow: 0px 0px 0 1px #3a557c, 0px 0px 0 2px #758dad, 0px 0px 0 3px #3a557c;
    background-image: linear-gradient(180deg,#aaf8fa, #073a6d);
}
.notch {
    position: relative;
    height: 20px;
    width: 120px;
    background-color: black;
    margin: auto;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
}
.speaker-thingy {
    position: absolute;
    width: 30px;
    height: 4px;
    background-color: #121416;
    right: 0;
    left: 0;
    margin: auto;
    margin-top: 6px;
    border-radius: 4px;
}
.camera {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    border: 2px solid #060d31;
    background-color: #1b2c2f;
    border-radius: 50%;
    margin: auto;
    margin-top: 4px;
    right: -52px;
    left: 0;
}
.right-buttons, .left-buttons {
    position: relative;
    z-index: 10000;
}
.unknown-button {
    position: absolute;
    height: 64px;
    width: 5px;
    background-image: linear-gradient(to right, #294d81, #698dbcea, #1b3f70);
    border-radius: 36px;
    border: 0;
    right: -15px;
    top: 120px;
}
.power-button {
    position: absolute;
    height: 26px;
    width: 5px;
    background-image: linear-gradient(to right, #294d81, #698dbcea, #1b3f70);
    border-radius: 36px;
    border: 0;
    left: -15px;
    top: 60px;
}
.volume-button {
    position: absolute;
    height: 42px;
    width: 5px;
    background-image: linear-gradient(to right, #294d81, #698dbcea, #1b3f70);
    border-radius: 36px;
    border: 0;
    left: -15px;
    top: 110px;
}
.volume-button:nth-child(2) {
    left: -15px;
    top: 160px;
}

/* background gradients */
.background {
    position: absolute;
}
.small {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5em;
    position: absolute;
    top: 157px;
    left: 36px;
    margin: auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #053E74;
    background: -webkit-radial-gradient(bottom left, #053E74 0%, #98DC9F 90%, #ffffff 99%);
    background: -moz-radial-gradient(bottom left, #053E74, #98DC9F, #ffffff 99%);
    background: radial-gradient(to top right, #053E74, #98DC9F, #ffffff 99%);
}
span {
    position: absolute;
    font-family: 'Patrick Hand'; 
    font-weight: 550;
    color: white;
    margin: 440px 72px;
}